<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Book Review Web App</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li class="left">Whyte shelf</li>
                <li class="right">{% block list %} login {% endblock %}</li>
            </ul>
        </nav>
        <div class="center_div">
            {% block form %}
            <a href="{{ url_for('sign') }}"><button style="font-size: 20px;"> Sign Up as a new User </button></a>

            <form action="{{ url_for('login') }}" method="POST">
                <input type="text" name="username" placeholder="Enter Username" required> <br>
                <input type="password" name="password" placeholder="Enter Password" required> <br>
                <button>Sign in</button>
                <a href="">Forgot Password ?</a>
            </form>
            {% endblock %}
        </div>
    </div>

</body>

</html>